<?xml version="1.0"?>
<ruleset name="PHP Cast to Type">
	<description>PHP Cast to Type rules for PHP_CodeSniffer</description>

	<!-- Pass some flags to PHPCS:
		 p flag: Show progress of the run.
		 s flag: Show sniff codes in all reports.
		 v flag: Print verbose output.
		 n flag: Do not print warnings.
	-->
	<arg value="ps"/>

	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check 8 files simultanously. -->
	<arg name="parallel" value="8"/>

	<!-- Check all files in this directory and the directories below it. -->
	<file>.</file>

	<!-- Exclude Composer vendor directory. -->
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<!-- PHP cross-version compatibility. -->
	<config name="testVersion" value="4.0-"/>
	<rule ref="PHPCompatibility"/>

	<!-- Code style. -->
	<rule ref="WordPress">
		<exclude name="WordPress.Arrays.ArrayDeclarationSpacing.ArrayItemNoNewLine"/>

		<!-- Kind of defies the point of this class. -->
		<exclude name="WordPress.PHP.StrictComparisons"/>

		<!-- else on new line is perfectly fine -->
		<exclude name="Squiz.ControlStructures.ControlSignature.SpaceAfterCloseBrace"/>

		<!-- Demanding Yoda conditions is stupid. -->
		<exclude name="WordPress.PHP.YodaConditions"/>

		<!-- WP specific sniffs which should be ignored. -->
		<exclude name="WordPress.Security"/>
		<exclude name="WordPress.VIP"/>
		<exclude name="WordPress.WP"/>

		<!-- Allow the method names to be the same across classes and compatible with both PHP 4 and 5+. -->
		<exclude name="PSR2.Methods.MethodDeclaration.Underscore"/>
	</rule>

	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="strict_class_file_names" value="false"/>
		</properties>
	</rule>

	<!-- PHP 4 -->
	<rule ref="Squiz.Classes.SelfMemberReference.NotUsed">
		<exclude-pattern>*/class.cast-to-type-php4\.php$</exclude-pattern>
	</rule>

</ruleset>
